[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-commbank
Exec=harbour-commbank
Name=Commbank
Name[de]=Commbank

[X-Sailjail]
OrganizationName=de.andreas-wuest-it-consulting
ApplicationName=harbour-commbank
Permissions=Internet;Secrets;UserDirs
